<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PoolBarEntities" connectionString="metadata=res://*/PoolModel.csdl|res://*/PoolModel.ssdl|res://*/PoolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TZIYONA\SQLEXPRESS;Initial Catalog=PoolBar;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>